.footer
  .row
    .footer-col  
      = image_tag "Logo.png"
    .footer-col.col-xs-offset-4
      %ul#top-Links
        %li
          %a{:href => "#"}About Us
        %li
          %a{:href => "#"}Contact Us
    .footer-col.col-xs-offset-4
      %ul#bottom-Links
        %li
          %a{:href => "#"}Work With Us
        %li
          %a{:href => "#"}FAQ
