.container-fluid.navbar-default.navbar-fixed-bottom#footer
  %button{:type => :button, :class => :"navbar-toggle", :"data-toggle" => :collapse, :"data-target" => "#bottom_links"}
    %span{ :class => :"sr-only"}Toggle navigation
    %span{ :class => :"icon-bar"}
    %span{ :class => :"icon-bar"}
    %span{ :class => :"icon-bar"}
  .collapse.navbar-collapse#bottom_links
    %ul.nav.navbar-nav
      %li
        %a Link
      %li
        %a Link
