.footer
  .row
    .col-md-4   
      = image_tag "Logo.png"
    .col-md-4
      %ul
        %li
          %a{:href => "#"}About Us
        %li
          %a{:href => "#"}Contact Us
    .col-md-4
      %ul
        %li
          %a{:href => "#"}Work With Us
        %li
          %a{:href => "#"}FAQ
