%nav.header.navbar.navbar-default{:role => :navigation}
  .navbar-header#nav-header
    %button.navbar-toggle{type: :button, 'data-toggle' => :collapse, 'data-target' => '#navbar-collapse'}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse#navbar-collapse
    %a
      = image_tag "logo_mark", class: [:"navbar-brand"], alt: "logo"
    %ul.nav.nav-pills.nav-justified
      %li.nav-item{class: [(:active if @page == :home)]}
        %a{:href => root_path}Home
      %li.nav-item
        %a{:href => "#"}Methodology
      %li.nav-item
        %a{:href => "#"}Courses Offered
      %li.nav-item
        %a{:href => "#"}Travel Oppertunities
      %li.nav-item
        %a{:href => "#"}Teachers
