%meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
%nav.header{:role => :navigation}
  .container-fluid
    .navbar-header
      %button{:type => :button, :class => :"navbar-toggle", :"data-toggle" => :collapse, :"data-target" => "#navbar-collapse"}
        %span{ :class => :"sr-only"}Toggle navigation
        %span{:class => :"icon-bar"}
        %span{:class => :"icon-bar"}
        %span{:class => :"icon-bar"}
    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.nav-pills.nav-justified
        %li
          %a{:href => "#"}Link
        %li
          %a{:href => "#"}Link
        %li
          %a{:href => "#"}Link
        %li
          %a{:href => "#"}Link
