=render 'navbar'
.navbar.navbar-inverse
%h1.text-center Sobre Nós 
.container
  .row
    .col-xs-12 
      %p O New York English Institute investe seu tempo e esforços na preparação de seus alunos, para que assim tenham vantagens em oportunidades de trabalho, viagens turísticas e de estudos. 
      %p Com uma metodologia inovadora preparamos os estudantes para um mundo cada vez mais competitivo, onde o Inglês se tornou a língua internacional dos negócios.
      %p Com o auxílio de professores nativos e qualificados, nossos alunos aprendem um Inglês atual, além de tornarem-se capazes de atingir a fluência em um ritmo mais rápido. Junto aos cursos, oferecemos também oportunidades de viagens internacionais a fim de reforçar o conteúdo adquirido. 
      %p Com estes diferenciais, haverá mais que o desenvolvimento de um simples vocabulário turístico, os alunos serão capazes de comunicar-se em uma ampla gama de situações.
      %p Trouxemos para o Brasil uma nova abordagem no ensino de uma segunda língua. Nosso objetivo é oferecer cursos de alta qualidade para aqueles que querem aprender Inglês. Incorporamos ao programa pedagógico novas tendências de ensino, tornando possível aos nossos alunos o contato diário com o Inglês.
      %p Consideramos um privilégio ser seu ponto de partida rumo ao sucesso. Medimos o nosso êxito de acordo com as suas realizações. A medida que você for progredindo em nossos cursos você desenvolverá fluência na escrita, leitura, fala e entendimento do Inglês. 
      = link_to "Veja os cursos disponíveis e começe aprender Inglês hoje.", :courses_offered
