=render 'navbar_eng'
.navbar.navbar-inverse
%h1.text-center About Us 
.container
  .row
    .col-xs-12 
      %p The New York Institute Inglês invest your time and effort in preparing their students, so that they have advantages in job opportunities, tours and studies. 
      %p With an innovative methodology prepare students for an increasingly competitive world, where English has become the international language of business. 
      %p With the help of native speakers and qualified teachers, our students learn a current English, and become able to achieve fluency in a faster pace. Along the courses also offer opportunities for international travel in order to enhance your purchased content. 
      %p With these advantages, there will be more than the development of a simple tourist vocabulary, students will be able to communicate in a wide range of situations. 
      %p brought to Brazil a new approach to teaching a second language. Our goal is to offer high quality courses for those who want to learn English. We incorporate the new educational program teaching trends, making it possible for our students daily contact with English. 
      %p consider it a privilege to be your starting point to success. We measure our success according to their achievements. As you progress in our courses you will develop fluency in reading, writing, speaking and understanding English. 
        = link_to "Veja os cursos disponíveis e começe aprender Inglês hoje.", :courses_offered
