=render 'navbar_eng'
.navbar.navbar-inverse
%h1.text-center About Us 
.container
  .row
    .col-xs-12 
      %p The New York English Institute invests its time and efforts in preparing its students for advantages in business opportunities, as well as touristic traveling and studying abroad. 
      %p With an innovative method we prepare our students for an increasingly competitive world where English has become the international language of business.
      %p By using qualified native teachers our students learn the most up to date English and are able to achieve fluency at a faster pace. Throughout the courses we provide our students with opportunities to travel abroad in order to strengthen what they are learning. 
      %p Our students are not limited to tourism vocabulary, but are able to communicate in a broad range of situations. 
      %p We bring to Brazil a new approach to learning a second language. Our objective is to provide high quality courses to those who want to learn English. Incorporated into our program is the latest technology, which makes it possible for our students to have contact with English on a daily basis. 
      %p It is a privilege for us to be the starting point of success in the lives of our students. We measure our success based on our students’ accomplishments. As they progress through the courses they develop fluency in writing, reading, speaking and understanding English.
      = link_to "Review the courses available and start learning English today.", :courses_offered
= render 'footer_eng'