= render 'navbar'
.navbar.navbar-inverse
%h1.text-center Sobre Nós 
.container
  .row
    .col-xs-12 A integração entre povos e culturas é uma realidade cada vez mais presente nas relações cotidianas. Devido a esse novo panorama, oportunidades como viagens turísticas, de estudos e negócios ao exterior, assim como a busca por oportunidades de trabalho em grandes empresas internacionais se tornaram situações comuns na vida de milhões de pessoas.
    .col-xs-12 Cenários como estes, ampliam a visão que se tem sobre o mundo, criando assim um ambiente propício para a absorção de conhecimento.
    .col-xs-12 No entanto, um fator impede que se aproveite plenamente todas as oportunidades que o mundo globalizado oferece: a falta de fluência em um segundo idioma. Em especial o inglês, que se consolidou como o idioma oficial de negócios, educação e viagens ao redor do mundo.
    .col-xs-12 Focada nesta realidade, o New York English Institute investe seu tempo e esforço em pessoas que desejam estar sempre à frente. Devido a isso foi desenvolvida pela instituição uma metodologia que oferece ao aluno algo além do simples vocabulário turístico, mas sim um conteúdo focado em um mundo cada vez mais competitivo e dinâmico. 
    .col-xs-12 Afirmamos que nosso compromisso é focado no sucesso individual de nossos alunos. Asseguramos também, que os estudantes irão melhorar suas habilidades na língua inglesa, à medida que forem avançando as etapas propostas em nossos cursos. 
    .col-xs-12 E para realizar todos os pontos colocados até aqui de maneira plena, nossa instituição de ensino está colocando a disposição do público brasileiro professores americanos.
    .col-xs-12 A New York English Institute sente imenso prazer em contribuir com a melhoria da educação no Brasil e o sucesso das pessoas que fazem parte de seu programa.
  %hr
.container
  .row
    =image_tag "travel with us.jpg",:class => :"method-img"
    %h2.method-text Header
    %p.method-text Content
  .row
    =image_tag "travel with us.jpg",:class => :"method-img-inverse"
    %h2.method-text Header
    %p.method-text Content

= render 'footer'