=render 'navbar'
.navbar.navbar-inverse
.container
  .row
    .col-md-12
      %h1.text-center Contate o NYEI
  .row#contact-content
    .col-md-12
      = link_to "Cursos", :courses_offered
    .col-md-12
      = link_to "Ajuda", :faq_page
  .row
    %form.contactForm{:novalidate => "novalidate", :role => "form"}
      .form-group
        %label.control-label Nome
        .controls
          .input-group
            %span.input-group-addon
              %i.glyphicon.glyphicon-user
            %input.form-control{:name => "name", :placeholder => "Nome", :type => "text"}/
      .form-group
        %label.control-label Empresa
        .controls
          .input-group
            %span.input-group-addon
              %i.glyphicon.glyphicon-home
            %input.form-control{:name => "company", :placeholder => "Empresa", :type => "text"}/
      .form-group
        %label.control-label Organização
        .controls
          .input-group
            %span.input-group-addon
              %i.glyphicon.glyphicon-home
            %input.form-control{:name => "organization", :placeholder => "Organização", :type => "text"}/
      .form-group
        %label.control-label Email
        .controls
          .input-group
            %span.input-group-addon
              %i.glyphicon.glyphicon-envelope
            %input#email.form-control{:name => "email", :placeholder => "Email", :type => "text"}/
      .form-group
        %label.control-label Mensagem
        .controls
          .input-group
            %span.input-group-addon
              %i.glyphicon.glyphicon-pencil
            %textarea.form-control{:cols => "78", :name => "msg", :placeholder => "Coloque sua mensagem aqui", :rows => "4"}
      .controls{:style => "margin-left: 40%;"}
        %button#mybtn.btn.text-center{:type => "submit"} Enviar Mensagem
= render 'footer'