=render 'navbar_eng'
.navbar.navbar-inverse
.container
  .row
    .col-xs-12
      %h1.text-center Methodology
  .row
    =image_tag "methodology_1.jpg",:class => :"method-img"
    .method-text
      %h3 Personal Instruction
      %p At the New York English Institute our goal is to help our students speak English fluently at a faster pace and without an accent. In order to accomplish this all of our teachers are native speakers. 
      %p Teachers and students meet once a week for two hours. The other days of the week the students complete online interactive activities that give them the opportunity to practice English every day. This way students have contact with English on a daily basis.
  .row
    =image_tag "methodology_2.jpg",:class => :"method-img-inverse"
    .method-text
      %h3 Technology
      %p Each semester we rotate our teachers to provide a diverse learning experience. By rotating our teachers we give our students multiple opportunities to learn from different native speakers.  
      %p We have incorporated the latest technology into our teaching method to make it possible for us to bring our courses to the comfort of our students’ homes. We offer live online classes with native speakers as well as e-Books in order to facilitate access to the material from any computer or mobile device.
  .row
    =image_tag "methodology_3.jpg",:class => :"method-img"
    .method-text
      %h3 English for Life
      %p The courses we offer integrate academic subjects, writing skills, public speaking opportunities, job interview simulations and a vast everyday vocabulary among other subjects. We teach our students English grammar in a simple way that gives them a deeper understanding of the rules.  We guarantee fluency in English as the student continues through and completes our courses.
= render 'footer_eng'