=render 'navbar'
.navbar.navbar-inverse
%h1.text-center Metodologia
.container
  .row
    =image_tag "friendly-smiling-group.jpg",:class => :"method-img"
    .method-text
      %h3 Instrução Pessoal
      %p Com o intuito de proporcionar aos alunos diferenciais como a proficiência do inglês sem o temido sotaque, o New York English Institute oferece professores nativos. Assim, garantimos um processo de aprendizado que ajudará os alunos a se tornarem fluentes no idioma de forma rápida.
      %p Outro ponto de realce em nossa didática é que Professores e alunos se reúnem uma vez por semana por duas horas. Os demais dias da semana são completados com atividades interativas online, que cumprirão o propósito de colocar nossos estudantes em convívio diário com o idioma.
  .row
    =image_tag "learn.jpg",:class => :"method-img-inverse"
    .method-text
      %h3 Tecnologia
      %p Para que haja diversas possibilidades de aprendizado, ressaltamos que a cada semestre iremos promover a rotatividade de professores, dando assim a oportunidade de contato com as várias realidades do idioma.
      %p Incorporamos também, tecnologias que tornam possível levar nosso programa de ensino de nossa sede nos EUA para o conforto de sua casa. Além de aulas ao vivo via internet, os alunos também terão a sua disposição e-Books para facilitar acesso ao material didático de qualquer computador ou dispositivo móvel.
  .row
    =image_tag "teenagers-jumping.jpg",:class => :"method-img"
    .method-text
      %h3 Inglês pela Vida
      %p Ao ingressar em nosso programa, o aluno terá acesso a cursos que integram assuntos acadêmicos a habilidades de escrita, de falar em público, simulações de entrevista de emprego e um vasto vocabulário da vida cotidiana. Também ensinamos aos nossos alunos a gramática de uma forma simples mas com  uma profunda compreensão das regras. 
      %p Nós garantimos a fluência em Inglês a todas as pessoas que completam nosso curso.
= render 'footer'