=render 'navbar'
.navbar.navbar-inverse
.container
  .row
    .table-responsive.col-xs-12
      %h1 Primeiro Semestre - 2015 - Cursos Online
      %table.table.table-striped
        %thead
          %tr
            %th Cursos Online
            %th Início do Matrículas
            %th Fechamento das Matrículas
            %th Início das Aulas
            %th Término das Aulas
            %th Taxa de Matrícula
            %th Valor Semestral
            %th Formas de Pagamento (Boleto, Crédito ou Débito)
            %th Registre-se antes
        %tbody
          %tr
            %td Inglês Fluente - Manhattan 1
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Manhattan 2
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Brooklyn 1
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Brooklyn 2
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Inglês Fluente - Bronx 1
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Inglês Fluente - Bronx 2
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Inglês Fluente - Queens 1
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Inglês Fluente - Queens 2
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Curso de Conversação
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Inglês Acadêmico
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Curso Preparatório- Ensino Superior
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Curso Preparatório- Mestrado
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Inglês para Viagem
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Entrevista de trabalho – Currículo
            %td 16 de Novembro-2014
            %td 21 de Fevereiro
            %td 23 de Fevereiro
            %td 11 de Julho
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
    .table-responsive.col-xs-12
      %h1 Sugundo Semestre - 2015 - Cursos Online
      %table.table.table-striped
        %thead
          %tr
            %th Cursos Online
            %th Início do Matrículas
            %th Fechamento das Matrículas
            %th Início das Aulas
            %th Término das Aulas
            %th Taxa de Matrícula
            %th Valor Semestral
            %th Formas de Pagamento (Boleto, Crédito ou Débito)
            %th Registre-se antes
        %tbody
          %tr
            %td Inglês Fluente - Manhattan 1
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Manhattan 2
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Brooklyn 1
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Brooklyn 2
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Bronx 1
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Bronx 2
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Queens 1
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês Fluente - Queens 2
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Curso de Conversação
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"  
          %tr
            %td Inglês Acadêmico
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Curso Preparatório- Ensino Superior
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Curso Preparatório- Mestrado
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Inglês para Viagem
            %td 01 de Maio
            %td 29 de Julho
            %td 01 de Agosto
            %td 12 de Dezembro
            %td n/a
            %td n/a
            %td até 5x/sem juros
            %td
              .reg-btn
                %button 
                  Julho .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"                   
          %tr
            %td Entrevista de trabalho – Currículo
            %td{:colspan => "7"} Veja nossas datas de Workshop
