= render 'navbar'
.navbar.navbar-inverse
.container
  .row
    .table-responsive.col-xs-12
      %h1 2015
      %table.table.table-striped
        %thead
          %tr
            %th Cursos
            %th Abertura das Matrículas
            %th Fechamento das Matrículas
            %th Início do Semestre
            %th Término do Semestre
        %tbody
          %tr
            %td Inglês Manhattan 1
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Manhattan 2
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Brooklyn 1
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Brooklyn 2
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Bronx 1
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Bronx 2
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Queens 1
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Queens 2
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês Acadêmico
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Curso Preparatório- Ensino Superior
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Curso Preparatório- Mestrado
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Inglês para Viagem
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Curso de Conversação
            %td 04 de Junho
            %td 24 de Julho
            %td 3 de Agosto
            %td 11 de Dezembro
          %tr
            %td Entrevista de trabalho – Currículo
            %td{:colspan => "4"} Veja nosso calendário de Workshop
    .table-responsive.col-xs-12
      %h1 2016
      %table.table.table-striped
        %thead
          %tr
            %th Cursos
            %th Abertura das Matrículas
            %th Fechamento das Matrículas
            %th Início do Semestre
            %th Término do Semestre
        %tbody
          %tr
            %td Inglês Manhattan 1
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Manhattan 2
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Brooklyn 1
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Brooklyn 2
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Bronx 1
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Bronx 2
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Queens 1
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Queens 2
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês Acadêmico
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Curso Preparatório- Ensino Superior
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Curso Preparatório- Mestrado
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Inglês para Viagem
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Curso de Conversação
            %td 02 de Novembro (2015)
            %td 19 de Fevereiro
            %td 29 de Fevereiro
            %td 8 de Julho
          %tr
            %td Entrevista de trabalho – Currículo
            %td{:colspan => "4"} Veja nosso calendário de Workshop
= render 'footer'