=render 'navbar_eng'
.navbar.navbar-inverse
.container
  .row
    .table-responsive.col-xs-12
      %h1 First Semester - 2015 - Online Courses
      %table.table.table-striped
        %thead
          %tr
            %th Online Courses
            %th Open - Enrollment date
            %th Close - Enrollment Date
            %th Classes Start
            %th Classes End
            %th Enrollment Fee
            %th Tuition
            %th Payment Method Debt/Credit
            %th Register Before:
        %tbody
          %tr
            %td Fluent English - Manhattan 1
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Manhattan 2
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Brooklyn 1
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Brooklyn 2
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Fluent English - Bronx 1
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Fluent English - Bronx 2
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Fluent English - Queens 1
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Fluent English - Queens 2
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Conversation Course
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Academic English
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Prep Course - Undergraduate Program
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Prep Course - Graduate Program
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td English for Travelers
            %td November 16th
            %td February 21st
            %td February 23rd
            %td July 11th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr.info
            %td Job Interview - Resume Building
            %td{:colspan => "8"} See our Workshop Calendar
    .table-responsive.col-xs-12
      %h1 Sugundo Semestre - 2015 - Cursos Online
      %table.table.table-striped
        %thead
          %tr
            %th Online Courses
            %th Open - Enrollment date
            %th Close - Enrollment Date
            %th Classes Start
            %th Classes End
            %th Enrollment Fee
            %th Tuition
            %th Payment Method Debt/Credit
            %th Register Before:
        %tbody
          %tr
            %td Fluent English - Manhattan 1
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Manhattan 2
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Brooklyn 1
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Brooklyn 2
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Bronx 1
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Bronx 2
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Queens 1
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Fluent English - Queens 2
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Conversation Course
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Academic English
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Prep Course - Undergraduate Program
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td Prep Course - Graduate Program
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"
          %tr
            %td English for Travelers
            %td May 1st
            %td July 29th
            %td August 1st
            %td December 12th
            %td n/a
            %td n/a
            %td up to 5 payments
            %td
              .reg-btn
                %button 
                  July .. 
                  =image_tag "chevronThinRButtonsWhite.svg",:class => :"chevron-right"                
          %tr
            %td Job Interview - Resume Building
            %td{:colspan => "8"} See our Workshop Calendar
= render 'footer_eng'