=render 'navbar_eng'
.navbar.navbar-inverse
.container
  .row
    .col-md-12
      %h1.text-center Our Teachers
    .teachers-intro-img
      =image_tag "teachers_main.jpg", :class => :"img-responsive"
    .teachers-intro-text
      %h3.text-center Qualifications
      %p In the United States for a person to qualify to teach English as a second language (ESL) they must undergo training and receive a certification. Our teachers are all ESL certified and we offer them periodic training so that they are constantly improving their skills as teachers. The advantage of studying at the New York English Institute is that we have qualified native teachers whose passion is teaching English. 
      %h3.text-center Native Speakers
      %p With native teachers our students are able to learn the meanings of the most current expressions and slangs. They have the opportunity to achieve fluency at a faster pace and be less likely to speak English with an accent. 
/
  .row
    %h3.text-center Conheça nosso Professores
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
