.navbar.navbar-inverse
.container
  .row
    .intro-text
      %h1.text-center Nossos Professores
      %h3.text-center Qualificações
      %p Nos Estados Unidos, para alguém se qualificar no ensino do Inglês como a segunda língua (ESL), o indivíduo deve passar por treinamento e receber uma certificação. Este é o padrão de nossos professores. Todos são certificados além de passarem por treinamento periódico. A vantagem de estudar no New York English Institute é que você terá os professores mais qualificados, cuja paixão é ensinar o Inglês.
      %h3.text-center Professores nativos
      %p Com professores nativos, você será capaz de aprender os significados das expressões mais atuais e gírias, além de ter a oportunidade de alcançar a fluência em um ritmo rápido e ser menos propenso a falar o Inglês com sotaque.
      %h3.text-center Conheça nosso Professores
  .row
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
