=render 'navbar_eng'
.navbar.navbar-inverse
.container
  .row
    .col-md-12
      %h1.text-center Our Teachers
    .teachers-intro-img
      =image_tag "teachers_main.jpg", :class => :"img-responsive"
    .teachers-intro-text
      %h3.text-center Qualifications
      %p Nos Estados Unidos, para alguém se qualificar no ensino do Inglês como a segunda língua (ESL), o indivíduo deve passar por treinamento e receber uma certificação. Este é o padrão de nossos professores. Todos são certificados além de passarem por treinamento periódico. A vantagem de estudar no New York English Institute é que você terá os professores mais qualificados, cuja paixão é ensinar o Inglês.
      %h3.text-center Native Speakers
      %p Com professores nativos, você será capaz de aprender os significados das expressões mais atuais e gírias, além de ter a oportunidade de alcançar a fluência em um ritmo rápido e ser menos propenso a falar o Inglês com sotaque.
/
  .row
    %h3.text-center Conheça nosso Professores
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
    .teacher-profile
      =image_tag "unknown.gif", :class => :"teacher-img"
      %h2 José da Silva
      %p José da Silva nasceu na cidade do Rio de Janeiro em 15 de março de 1958. Tornou-se funcionário da ONU em ...
