$container-width: 900px;
$theme-black: #231F20;
$theme-off-white: #F2F3F4;
$theme-red: #128, 0, 35, 66;
$theme-pink: #DB0A5B;
$theme-blue: #4183D7;
$theme-dblue: #292E48;
/*******************************************************************************
// GLOBAL //
 ******************************************************************************/
html{
	width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;   
	background-color: white;
}
body{
	
	x-overflow:hidden;
	background-color: $theme-off-white;
}
hr{
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
}
video{
	object-fit: fill;
	.navbar-collapse {
		z-index: 1000;
	}
}
button{
	color: $theme-off-white;
}
h1{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
a:hover, a:focus{
  text-decoration: none;
}
/*******************************************************************************
// NAVBAR //
 ******************************************************************************/
.nav > li > a:hover{
  //font-weight: bold;
  background-color: transparent;
}
.navbar-collapse.in, .navbar-collapse.collapsing
{
	z-index: 1000;
	background: rgba(0,0,0,0.7);
}
.navbar {
	min-height: 50px;
}
.navbar-default {
	height: 20px;
}
.navbar-toggle {
	background-color: $theme-off-white;
}
.header {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 12;
	background-color: transparent;
	border: $theme-off-white;
	border-radius: 0;
	margin-bottom: 0;

	.nav-item a
	{
		color: $theme-off-white;
		padding-bottom: 0px;
		border-radius: 0;
	}

	.nav-item.active a
	{
		background-color: $theme-red;
		color: $theme-off-white;
	}
  	.nav-item.lang-btn
  	{
    	margin-right: 10px;
    	a
    	{
      		font-size: 80%;
      		margin-right: -40px;
    	}
  	}
}
.navbar-brand
{
    padding: 0px;
    padding-left: 15px;
}
/*******************************************************************************
 * FOOTER
 ******************************************************************************/
.footer{
	@extend .container-fluid; 
	border: $theme-black;
	margin-bottom: 0px;
	margin-top: 5em;
/* 	height: 223px; */
    .row {
        background-color: $theme-black;
    }
	ul
	{
		margin-top: 50px;
		a
		{
			color: white;
		}
	}
}
#footer-logo-col{
    @extend .col-xs-2;
    margin-top: 25px;
}
#footer-img-col{
  margin-top: 50px;
  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.footer-col{
	@extend .col-md-3;
  @extend .col-xs-12;
  li {
      list-style: none;
  }
}
.footer-brand {
    @extend .col-xs-12;
    @extend img-responsive;
}
/*******************************************************************************
// LANDING //
 ******************************************************************************/
#home-marketing-btn
{
	@extend .col-xs-5;
	@extend .col-md-2;
	position: relative;
	bottom: -12px;
	button 
  {
		background: rgba(255, 255, 255, .65);
		border: 0;
		font-size: 23px;
		padding: 8px 15px 7px;
		letter-spacing: 2px;
		font-weight: bold;
	}
}
#home-marketing-text, .chevron-thin, #landing-marketing 
{
	z-index: 100;
}
#landing-travel-title 
{
  margin-top: 0em;
}
#landing-marketing  
{
	background-color: rgba(0,0,0,.5);
	position: relative;
	margin-top: -155px;
	width: 100%;
}
#landing-marketing-box 
{
	@extend .row;
	h2 {
		@extend .col-lg-12;
        @extend .col-md-12;
        @extend .col-sm-12;
        @extend .col-xs-12;
        @extend .text-center;
	    font-size: 35px;
	    font-weight: lighter;
	    color: $theme-off-white;
	}
	a {
		margin: 0 auto;
	}
}
#landing-marketing-text {
	font-weight: lighter;
}
#landing-video {
	height: 100%;
}
.button-grid{
	@extend .row;
	padding-top: 0;
	padding-bottom: 0;
	//margin-left:4em;
	//max-width: $container-width;
	a
	{
		@extend .col-lg-4;
		@extend .col-xs-12;
		@extend .col-sm-6;
		@extend .col-md-4;
    img
    {
      @extend .img-responsive;
    }
	}
	#travel
	{
		@extend .col-lg-8;
		@extend .col-md-8;
	}
}
.button-img{
	@extend .img-responsive;
	max-width: 77%;
	margin-bottom: 7em;
	/* For IE8 and earlier */
	opacity: 1.0;
	/* filter: alpha(opacity=100);

	-webkit-filter: grayscale(100%);
	// Firefox Filter
	filter: url("data:image/svg+xml;utf8,<svg
	xmlns=\'http://www.w3.org/2000/svg\'><filter
	id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333
	0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1
	0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
.button-img:hover { 
	opacity: 0.4;
	filter: alpha(opacity=40);
	/* For IE8 and earlier */
}
@mixin divider($color){
	height: 30px;
	border-style: solid;
	border-color: $color;
	border-width: 1px 0 0 0;
	border-radius: 20px;
	max-width: 90%;

	&:before {
		display: block;
		content: "";
		height: 30px;
		margin-top: -31px;    
		border-style: solid;
		border-color: $color;
		border-width: 0 0 1px 0;
		border-radius: 20px;
	}
}
.divider{
	@include divider($theme-black);
}
.caret{
	color:white;
}
.chevron-img{
	width: 7rem;
}
.chevron-thin {
	@extend .col-md-12;
	@extend .col-xs-12;  
	text-align: center;
}
.landing-overlay{
	position: absolute;
	top: 35%;
	width:65%;
	z-index: 20;
	font-size: 22px;
	background-color: rgba(0,0,0,.5);
	padding: .5em;
	font-weight: lighter;
	color:white;
}
.landing-titles{
	font-family: helvetica neue, Sans-serif;
	margin-bottom: 25px;
	margin-top: 50px;
}
.video-header{
	@extend .row;
	overflow: hidden;
	height: 100vh;
	video
	{

		min-height: 100%;
		min-width: 100%;
		@media screen and (max-width: 640px){
			min-height: 0;
		}
	}
}
.video{
	x-overflow: hidden;
}
  /*******************************************************************************
  // LOGO //
   ******************************************************************************/
.logo{
	width: 150px;
	position: absolute;
	z-index: 10;
	background-color: rgba(50,69,111,.4);
	top:55px;
	left: 3%;
}
.landing-logo-back{
	position: absolute;
	width: 200px;
	height: 70px;
	top: 36px;
	background: rgba(50, 69, 111, 0.25);
}
  /*******************************************************************************
  // CAROUSEL //
   ******************************************************************************/
.carousel .item{
  -webkit-transition: opacity 1.25s; 
  -moz-transition: opacity 1.25s; 
  -ms-transition: opacity 1.25s; 
  -o-transition: opacity 1.25s; 
  transition: opacity 1.25s;
}
.carousel .prev {left:0; opacity:0; z-index:2;}
.carousel .next {left:0; opacity:1; z-index:1;}
  /*******************************************************************************
  // Hover //
   ******************************************************************************/
/* Effect 4: bottom border enlarge */
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	//text-transform: uppercase;
	letter-spacing: .25px;
	font-weight: 400;
	font-size: 1.00em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
.cl-effect-4 a {
	padding: 0 0 10px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 1px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.container > section {
	margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}
  //******************************************************************************
/*******************************************************************************
// METHODOLOGY //
 ******************************************************************************/
.method-img{
	@extend .col-lg-4;
	@extend .col-md-6;
	@extend .col-sm-8;
	@extend .col-xs-12;
	@extend .img-responsive;
	margin-top: 2em;
	float: left;
}
.method-img-inverse{
	@extend .col-lg-4;
	@extend .col-md-6;
	@extend .col-sm-8;
	@extend .col-xs-12;
	@extend .img-responsive;
	margin-top: 2em;
	float: right;
}
.method-text{
	@extend .col-lg-8;
	@extend .col-md-6;
	@extend .col-sm-4;
	@extend .col-xs-12;
}
/*******************************************************************************
// COURSES //
 ******************************************************************************/
.course-row{
  @extend .row;
  margin-top: 60px;
}
.course-text{
    @extend .method-text;
}
.course-list{
	@extend .col-xs-offset-1;
	@extend .col-xs-12;
}
.course-img{
	float: left;
	@extend .method-img;
}
/*******************************************************************************
// TRAVEL //
 ******************************************************************************/
.travel-loc-header {
  @extend .row;
  margin-top: 80px;
}
.travel-text {
	background-color: rgba(0,0,0,.5);
	padding: 1em;
	color:white;
}
.travel-img {
	@extend .img-responsive;
	margin-bottom: 1em;
}
.travel-img-strip-1{
	@extend .img-responsive;
	@extend .col-xs-1;
	height: 75px;
	margin-bottom: 0em;
  padding: 0;
}
.travel-img-strip-2{
	@extend .img-responsive;
	@extend .col-xs-2;
	height: 150px;
	margin-bottom: 0em;
  padding: 0;
}
.travel-loc-text{
	@extend .col-xs-12;
}
.travel-loc-col {
  @extend .col-lg-4;
  @extend .col-md-4;
  @extend .col-sm-8;
  @extend .col-xs-12;
  ul
  {
    list-style: none;
    & > li
    {
      font-weight: bold;
      & > ul > li
      {
        font-weight: normal;
      }
    }
  }
}
.travel-loc-col-2 {
  @extend .col-md-6;
  @extend .col-sm-8;
  @extend .col-xs-12;
}
.travel-loc-img-lg {
    @extend .col-xs-6;
}
.travel-loc-img-sm {
    @extend .col-md-4;
    @extend .col-xs-6;
}
/*******************************************************************************
// TEACHERS //
 ******************************************************************************/
.teachers-intro-img{
    @extend .col-md-4;
}
.teachers-intro-text{
    @extend .col-md-8;
	@extend .col-xs-12;
}
/*******************************************************************************
 * CONTACT US / WORK WITH US
 ******************************************************************************/
.contactForm {
  @extend .col-xs-12;
  @extend .col-md-6;
  @extend .col-md-offset-3;
	margin-bottom: 2em;
}
#contact-content {
	margin-bottom: 2em;
	margin-top:2em;
}
.contact-link{
    text-align: center;
}
/*******************************************************************************
// REGISTER
*******************************************************************************/
.register-container
{
  @extend .container-fluid;
  margin-left: 50px;
  margin-right: 50px;
}
.table{
  margin-bottom: 40px;
}
.reg-btn{
	button {
		background: rgba(159, 55, 41, .65);
		border: 0;
		padding: 8px 15px 7px;
		letter-spacing: 2px;
		font-weight: lighter;
	}
}
.chevron-right{
	height: 15px;
	color: white;
}
.table > thead > tr > td.info, .table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th{
	background-color: #e5e5e5;
	color: #bfbfbf;
	button
	{
		visibility: hidden;
	}
}
//******************************************************************************
@media screen and (max-width: 640px){
	#title
	{
		font-size: 40px;
		top:-80px;
	}
	.bottom
	{
		bottom: 53.5%;
	}

	.footer
	{
/* 		height: 240px; */
	}
	#bottom-Links
	{
		li
		{
			margin-top: 5px;
		}
		margin-top: 0px;
	}
	#top-Links
	{
		li
		{
			margin-top: 5px;
		}
	}
	.video-container
	{
		height: 86%
	}
	.footer-col
	{
		@extend .col-xs-hidden;
	}
	.footer-col
	{
		@extend .hidden-xs;
	}
}
@media screen and (max-width: 1024px){
	#home-marketing-text
	{
		font-size: 25px;
	}
	#home-marketing-btn button
	{
		font-size: 15px;
	}
}
@media screen and (max-width: 290px){
	.landing-overlay
	{
		font-size: 20px;
	}
	#home-marketing-text
	{
		font-size: 20px;
	}
	#home-marketing-btn button
	{
		font-size: 10px;
	}
}
@media screen and (min-width: 829px){
	#button-grid
	{
		#travel
		{
			img
			{
				max-height: 40%;
				width: 100%;
			}
		}
	}
	font-size: 20px;  /* QUESTION: there was 2 extra curly braces above this line that were throwing an error, I removed them - EC */
	#home-marketing-btn button
	{
		font-size: 10px;
	}
}
@media screen and (min-width: 829px){
	#button-grid
	{
		#travel
		{
			img
			{
				max-height: 40%;
				width: 100%;
			}
		}
	}
}
	#home-marketing-btn button
	{
		font-size: 10px;
	}
}
@media screen and (min-width: 829px){
	#button-grid
	{
		#travel
		{
			img
			{
				max-height: 40%;
				width: 100%;
			}
		}
	}
}