// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ d
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);


.navbar-inverse .navbar-nav li a{
	color: #800023;
}

.navbar-inverse .navbar-nav li a:hover{
	color: rgba(128,0,35,0.5);
}

.carousel-indicators li {
  background-color: #000000;
  background-color: rgba(0,0,0,.25);
}

.carousel-indicators .active {
  background-color: #000;
}

#button_grid{
	padding-top: 4em;
	padding-bottom: 1em;
	@extend .text-center;
	@extend .container;
	
	max-width: 70%

}

.button-img{
	height: 300px;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
		filter: grayscale(100%);
}

.carousel-inner .item img {
    margin: 0 auto;
}

#title{
	font-size: 48px;
	letter-spacing: -1.5pt;
	font-weight: bold;
	font-family: PT Sans Narrow;
	padding-bottom: .5em;
	padding-top: 1em; 
}


.landing-video
{
	@extend .img-responsive;
	@extend .col-xs-12;
}

.header{
	@extend .navbar; 
	@extend .navbar-inverse;
	background-color: lightgrey;
	border: #F2F3F4;
}

.footer{
	@extend .navbar; 
	@extend .navbar-inverse;
	@extend .container-fluid;
	@extend .img-responsive;
	background-color: #231F20;
	border: #231F20;
	margin-bottom: 0px;
}
